<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> </title>
	<meta name="description" content=" ">
	<meta name="keywords" content=" ">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	</head>
	<body>

        <section class="main_section"></section>
        
        <section class="main_section">

            <p> go web app is live </p>
        
        </section>

        <section class="main_section"></section>

		<script type="text/javascript" src="/static/js/main.js"></script>
		
	</body>
</html>